.traffic-light-container {
    display: inline-block;
    vertical-align: middle;
  }
  
  .traffic-light {
    width: 50px;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    border-radius: 10px;
  }
  
  .light {
    flex: 1;
    border-radius: 50%;
  }
  
  .light.red {
    background-color: #ff6666;
  }
  
  .light.red.active {
    background-color: #ff3333;
  }
  
  .light.yellow {
    background-color: #ffff66;
  }
  
  .light.yellow.active {
    background-color: #ffff00;
  }
  
  .light.green {
    background-color: #66ff66;
  }
  
  .light.green.active {
    background-color: #00ff00;
  }
  